@use "../../assets/variables.scss" as *;
@use "../../assets/mixins.scss" as *;

.container {
  @include flex;

  width: 100%;
  height: 100vh;
}

.link {
  position: absolute;
  top: 15px;
  right: 20px;

  & img{
    height: 30px;
    
    font-size: 18px;
    text-decoration: underline $dark;

    cursor: pointer;

    transition: all .5s;
    &:hover {
      scale: 1.1;
      transform: translateX(-2px);
    }
  }
}