@use "../../assets/variables.scss" as *;
@use "../../assets/mixins.scss" as *;

.container {
  @include flex;

  width: 80%;
  height: 98vh;

  border-radius: 30px;

  background: $dark;
  color: $light;
}